<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <title>CodeAnon</title>
  </head>
  <body class="back-dark ">

    <div class="error-grid-container col-ocre">
      <div class="error-main">
        <h1 class="title">
          ERREUR 404
        </h1>
        <h2 class="subtitle">
          CodeAnon.TLD<span class="col-light"><%= reqUrl %></span> Does not exist
        </h2>
      </div>
    </div>
  </body>
</html>
