<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/wip.css">

    <title>CodeAnon</title>
</head>

<body>
    <section class="layout col-light">
        <h1 class="fourOfour">ERREUR 404</h1>
        <h2>
            CodeAnon.org<span><%= reqUrl %></span> n'est pas une url valide.
        </h2>
        <a href="/home">
            <button>Retour à la page d'acceuil</button>
        </a>
    </section>
</body>

</html>