<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="/css/wip.css">
    <title>CodeAnon</title>
</head>

<body>
    <section class="layout col-light">
        <% include templates/header.ejs %>

        <main class="layout">
            <h1>
                Mentions Légales:
            </h1>
            <h2>Informations</h2>
            <ul>
                <li>Nom de l'association:</li>
                <li>Adresse:</li>
                <li>Numéro de téléphone:</li>
                <li>Directeur de Publication (pré de l'asso):</li>
                <li>Hébergeur:(Raison sociale)

                    (Adresse du siège)

                    (Numéro de téléphone) </li>

            </ul>
            <h2>Protection et traitement de données à caractère personnel</h2>
            <ul>
                <li>Respect des lois en vigeur</li>
                <li>droit de l'internaute</li>
                <li>cookie</li>
            </ul>
            <h2>droit d'auteur</h2>
            <ul>
                <li>copyright</li>
                <li>reproduction des doc (articles)</li>
            </ul>
            <h2>Responsabilités face aux lien et activites sur le site</h2>
            <h1>terms of service and privacy policy</h1>
        </main>

    </section>
</body>

</html>