<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="./css/wip.css">
    <title>CodeAnon</title>
</head>

<body>
    <section class="layout col-light">
        <!--    Header  -->
        <% include templates/header.ejs %>
        <!--    Main    -->
        <main class="layout">
            <h1>
                Mentions Légales:
            </h1>
            <h2>Informations</h2>
            <ul>
                <li>Nom de l'association : <strong>Codeanon</strong></li>
                <li>Adresse : <strong>...</strong></li>
                <li>email : <a href="mailto:contact@codanon.org"></a></li>
                <li>Directeur de Publication (président de l'asso) : </li>
                <li>Hébergeur:(Raison sociale)

                    (Adresse du siège)

                    (Numéro de téléphone) </li>

            </ul>
            <h2>Protection et traitement de données à caractère personnel</h2>
            <h3>Respect des lois en vigeur</h3>
            <p>
            </p>
            <h3>Droits de l'internaute</h3>
            <p></p>
            <h3>Cookies</h3>
            <p>
                L'association Codeanon <strong>n'utilise pas<strong> de cookies de <em>tracking</em> et ne stocke aucune information de navigation. Nous utilisons uniquement un <a href="">cookie de session</a> afin de permettre aux internautes de se connecter au site avec leurs propres identifiants. Ces cookies de sessions sont détruits lors de la déconnexion ou deux jours après une première connexion. Leur contenu est donc éphémère et les utilisateurs sont déconnecté automatiquement du site passé ce délai de deux jours.
            </p>
            <h2>Droits d'auteur</h2>
                <p>
                    Les articles publiés dans la rubrique <a href="./articles">"articles"</a> du site sont la propriété de leur auteur. Ils peuvent être détruis définitivement par les auteurs depuis le site ou bien en <a href="mailto:contact@codanon.org">contactant l'association</a> si une aide est requise.
                </p>
            <h2>Responsabilités face aux liens et activités sur le site</h2>
                <p>
                    Le contenu des articles est laissé entièrement à la responsabilité des auteurs. L'association Codeanon décline toute responsabilité concernant le contenue des articles publiés par les utilisateurs (harcèlement, insultes, plagiat...). En revanche, les articles inappropriés ou au contenu illicite seront supprimés dés leur détection par les administrateurs.
                </p>
            <h2 id="CGU">Conditions Générales d'Utilisation</h2>
            <h3>Contenu inapproprié</h3>
            <p>
                En acceptant ces conditions, l'auteur d'un article s'engage à ne pas diffuser de contenu ni à tenir de propos :
                <ul>
                    <li>à caractère pornographique</li>
                    <li>à caractère insultant (envers une personne, une ethnie, une communauté)</li>
                    <li>à caractère discriminant (envers une personne, une ethnie, une communauté)</li>
                    <li>à caractère homophobe</li>
                    <li>à caractère xénophobe</li>
                </ul>
            </p>
            <br>
            <p>
                Les conditions sur la diffusion de contenu s'appliquent au texte, aux images, aux vidéos, aux liens internet et tout autre forme de ressource numérique.
            </p>
            <h3>Plagiat</h3>
            <p>
                En acceptant ces conditions, l'auteur d'un article s'engage à ne pas s'approprier la le travail d'autrui. Tout contenu relevant du plagiat sera supprimé. Pour plus d'informations quand à la propriété intellectuelle en France, rendez-vous à <a href="https://www.legifrance.gouv.fr/affichCode.do;jsessionid=A38BB5A789B339F0EC6DD445626F3E5F.tplgfr41s_3?cidTexte=LEGITEXT000006069414&dateTexte=19920703">ce lien</a>.
            </p>
            <br>
            <p>
                L'auteur d'un article s'engage également à fournir de manière claire les sources ayant alimenté son travaille.
            </p>
            <h3>Suspension des publications</h3>
            <p>
                En acceptant ces conditions, l'auteur d'un article s'engage à respecter les décisions des administrateurs quant à la suspension d'une publication (retrait du site et remise du contenu à son auteur) jugée inappropriée. 
            </p>
            <h3>Validation des publications</h3>
            <p>
                En acceptant ces conditions, les auteurs s'engagent à soumettre leurs articles à la validation manuelle par les administrateurs avant diffusion sur le site.
            </p>
            <h3>Contact des administrateurs</h3>
            <p>
                En cas de problèmes liés au contenu des articles ou à ces conditions d'utilisation, les auteurs s'engagent à contacter les administrateurs à cette adresse : <a href="mailto:contact@condeanon.org">contact@codeanon.org</a>.
            </p>
        </main>
        <!--    Footer  -->
        <% include templates/footer.ejs %>
    </section>
</body>

</html>