<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="css/wip.css">
    <title>CodeAnon</title>
</head>

<body>
    <header>

    </header>
    <section class="layout">
        <nav class="back-dark col-light">
            <h1>
                Admin Panel
            </h1>
            <h2>
                Welcome <%= username %>
            </h2>
            <ul>
                <li>Vérification articles</li>
                <li>Vérificitaion Projets</li>
                <li>CodaKey Param</li>
                <li>userlist, roles, last login(link to profile pages)</li>
            </ul>
        </nav>
        <div class="back-ocre col-light">
            {{ DISPLAY }}
        </div>
    </section>
</body>

</html>