<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="/css/wip.css">
    <title>CodeAnon</title>
</head>

<body>

    <section class="layout col-light">
        <!-- Header-->
        <% include templates/header.ejs %>
        <main>
            <h1>
                Admin Panel
            </h1>
            <h2>
                Bienvenue <span><%= username %></span> @ <%= page %> panel
            </h2>
            <ul>
                <a href="/admin/codakey" target="_blank" rel="noopener noreferrer"><li>CodaKey Param</li></a>
                <a href="/admin/unverifiedArticles" target="_blank" rel="noopener noreferrer"><li>Vérification des articles</li></a>
                <li>Vérificitaion Projets</li>
                <li>userlist, roles, last login(link to profile pages)</li>
            </ul>
        </main>
        <!-- Footer-->
        <% include templates/footer.ejs %>
    </section>
</body>

</html>