<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>CodeAnon</title>
</head>

<body>
    <section class="back-black col-light">
        <nav class="nav fade-in-top glitch">
            <ul class="menu">
                <li><a href="/login">Login</a></li>
                <li><a href="/" class="border-bottom">Home</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
        <h1 class="flicker-in glitch fs-text" data-text="CodeAnon">CodeAnon</h1>
        <a href="#hero"><i class="fade-in-top arrow-down"></i></a>
    </section>
    <section id="hero">
        <div class="bmtfck-layout">
            <h1>Admin</h1>
            <p>
                admin
            </p>
        </div>

    </section>
</body>

</html>