<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- main script -->
    <script type="text/javascript" src="js/script.js"></script>
    <!-- font awesome -->
    <script type="text/javascript" defer src="js/all.js"></script>

    <title>CodeAnon</title>
</head>

<body>
    <div class="blog-grid-container back-dark">
        <div class="blog-head back-dark col-ocre">
            <h1>[<%= username %>@CodeAnon ~]$</h1>
        </div>
        <div class="blog-right back-grey"></div>
        <div class="blog-main back-grey col-light">
            <article>
                <h1>Titre de l'article</h1>
                <h2> <span class="col-ocre">ArxaQapi</span>@CodeAnon ~ 01/01/2019</h2>
                <h2># Tags</h2>
                <br/>
                <h6>1.titre</h6>
                <p>
                        So, but what is the cool thing about these targets? They remember when you have executed them at last and only do this stuff again when the file is newer than the last time you have called it. But for that, your target has to be a file. Create a file myfile.sh and add a basic
                </p>
                <br/>
                <h6>2. titre</h6>
                <p>
                        Quisque ac maximus ligula, sed sagittis est. Integer venenatis pellentesque elit. Donec molestie turpis sit amet sodales cursus. Sed at risus cursus, feugiat lacus sit amet, rutrum sem. Vestibulum accumsan dui urna, vel feugiat lectus malesuada id. Quisque in interdum turpis, et pulvinar tortor. Vivamus tincidunt purus eu libero viverra, at posuere dolor gravida.Quisque ac maximus ligula, sed sagittis est. Integer venenatis pellentesque elit. Donec molestie turpis sit amet sodales cursus. Sed at risus cursus, feugiat lacus sit amet, rutrum sem. Vestibulum accumsan dui urna, vel feugiat lectus malesuada id. Quisque in interdum turpis, et pulvinar tortor. Vivamus tincidunt purus eu libero viverra, at posuere dolor gravida.Quisque ac maximus ligula, sed sagittis est. Integer venenatis pellentesque elit. Donec molestie turpis sit amet sodales cursus. Sed at risus cursus, feugiat lacus sit amet, rutrum sem. Vestibulum accumsan dui urna, vel feugiat lectus malesuada id. Quisque in interdum turpis, et pulvinar tortor. Vivamus tincidunt purus eu libero viverra, at posuere dolor gravida.Quisque ac maximus ligula, sed sagittis est. Integer venenatis pellentesque elit. Donec molestie turpis sit amet sodales cursus. Sed at risus cursus, feugiat lacus sit amet, rutrum sem. Vestibulum accumsan dui urna, vel feugiat lectus malesuada id. Quisque in interdum turpis, et pulvinar tortor. Vivamus tincidunt purus eu libero viverra, at posuere dolor gravida.Quisque ac maximus ligula, sed sagittis est. Integer venenatis pellentesque elit. Donec molestie turpis sit amet sodales cursus. Sed at risus cursus, feugiat lacus sit amet, rutrum sem. Vestibulum accumsan dui urna, vel feugiat lectus malesuada id. Quisque in interdum turpis, et pulvinar tortor. Vivamus tincidunt purus eu libero viverra, at posuere dolor gravida.Quisque ac maximus ligula, sed sagittis est. Integer venenatis pellentesque elit. Donec molestie turpis sit amet sodales cursus. Sed at risus cursus, feugiat lacus sit amet, rutrum sem. Vestibulum accumsan dui urna, vel feugiat lectus malesuada id. Quisque in interdum turpis, et pulvinar tortor. Vivamus tincidunt purus eu libero viverra, at posuere dolor gravida.
                </p>

            </article>
        </div>
        <div class="blog-left back-grey">
            
        </div>
        <div class="blog-footer back-dark">
            <h1>Mentions légales</h1>
        </div>
    </div>


    <article>
        <header>
            <h1></h1>
            <h2>user | date</h2>
            <h2>#tags</h2>
            <aside>
                description ~200cara
            </aside>
        </header>
        <main>
            <h1 id="title">titre1</h1>
            <p>para</p>
            <h1 id="title">titre2</h1>
        </main>
    </article>
</body>

</html>