<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- main script -->
    <script type="text/javascript" src="js/script.js"></script>

    <title>CodeAnon</title>
</head>

<body>
    <div class="blog-grid-container back-dark">
        <div class="blog-head back-dark col-ocre">
            <h1>[<%= username %>@CodeAnon ~]$</h1>
        </div>
        <div class="blog-right back-grey"></div>
        <div class="blog-main back-grey col-light">
            <div class="search-bar back-ocre"></div>
            <div class="wrapper back-light">
                <div class="card back-dark">
                    <h1 class="col-ocre">Article Title</h1>
                    <p class="col-light">
                        decriptions
                    </p>
                </div>
                <div class="card back-dark">
                        <h1 class="col-ocre">Article two</h1>
                        <p class="col-light">
                            a way longer description allowing the user to undersand the article name
                        </p>
                    </div>
            </div>
        </div>
        <div class="blog-left back-grey">

        </div>
        <div class="blog-footer back-dark">
            <h1>Mentions légales</h1>
            <a href="/logout"><button class="disconnect"><b>X</b></button></a>
        </div>
    </div>
</body>

</html>