<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/bulma.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- main script -->
    <script type="text/javascript" src="js/script.js"></script>
    <!-- font awesome -->
    <script type="text/javascript" defer src="js/all.js"></script>

    <title>CodeAnon</title>
  </head>
  <body> <!--tuto: https://medium.com/@andrewhartnett/tutorial-building-a-simple-blog-with-node-express-mongo-8e760630db74 -->
      
  </body>
</html>