<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/main.css">

    <title>CodeAnon</title>
</head>

<body>



    <div class="home-grid-container back-dark col-light">
        <div class="home-header back-dark ">
            <h1>Welcome @ CodeAnon [<span class="col-ocre"><%= msg %></span>]</h1>
            <h2>Where do you wan't to go?</h2>
        </div>
        <div class="home-main ">
            <a href="/blog">

                <div class="card">
                    <h1 class="col-dark">Blog</h1>
                    <p>A community driven blog, made by students for students</p>
                </div>
            </a>
            <a href="/submit">
                <div class="card back-grey">
                    <h1 class="col-light">Submit</h1>
                    <p class="col-ocre">
                        A place where you can write and submit your own article
                    </p>
                </div>
            </a>
            <a href="/profile">
            
            <div class="card back-light">
                <h1 class="col-ocre">Profile</h1>
                <p class="col-grey">
                    Just your profile page with some information
                </p>
            </div>
            </a>
            <div class="card back-grey">
                <h1 class="col-ocre"> Git platform</h1>
                <p>Incomming git platform allowing you to push project to a decentralized network controled by us</p>
            </div>
        </div>
        <div class="home-footer back-dark">
            <a href="/logout"><button class="disconnect"><b>X</b></button></a>
            <a href="/about"><h1>About us</h1></a>
        </div>
    </div>
</body>

</html>
<!-- <a href="" style="display:block;width:100vh;height:100vh;"> -->