<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="./css/wip.css">

    <title>CodeAnon</title>
</head>

<body>
    <section class="layout col-light">
        <!--    Header  -->
        <% include templates/header.ejs %>
        <!--    Main    -->
        <main>
            <article>
                <header>
                    <h3>
                        CodeAnon est une jeune association d'apprentissage, d'expérimentation et de réalisation de projets entre passionnés d'informatique.
                    </h3>
                </header>
                <a href="/blog" title="Direction le blog de CodeAnon">
                    <section class="card">
                        <h3>
                            /Blog
                        </h3>
                        <p class="marg-left">
                            Un blog communautaire où tout le monde peut proposer des articles et les consulter.
                        </p>

                    </section>
                </a>
                <a href="/submit" title="Accès à la page submit">
                    <section class="card">
                        <h3>
                            /Submit
                        </h3>
                        <p class="marg-left">
                            Le formulaire permettant de poster des articles sur le blog.
                        </p>

                    </section>
                </a>
                <a href="/project">
                    <section class="card">
                        <h3>
                            /Project Hub
                        </h3>
                        <p>
                            L'endroit ou les projets prennent vies. Vous pouvez vous informer sur les différents projets et y participer.
                        </p>
                    </section>
                </a>
                <a href="/projecter">
                    <section class="card">
                        <h3>
                            /Projecter
                        </h3>
                        <p>
                            Soumettez vos projets.
                        </p>
                    </section>
                </a>
                <a href="https://git.codeanon.org/">
                    <section class="card">
                        <h3>
                            AnonGit
                        </h3>
                        <p class="marg-left">
                            Une plateforme git decentralisé et auto-hébergé par CodeAnon permettant de collaborer sur
                            les différents projets.
                        </p>
                    </section>
                </a>

            </article>
        </main>
        <!--    Footer  -->
        <% include templates/footer.ejs %>
    </section>
</body>

</html>