<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../public/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">

    <title>CodeAnon</title>
  </head>
  <body>
    <section class="hero is-fullheight black-col">
      <div class="hero-head">
        <div class="container is-fluid has-text-centered">
          <figure class="image is-64x64 is-inline-block">
            <img src="../public/pictures/email.png" alt=":(">
          </figure>
        </div>
      </div>
      <div class="hero-body">

        <div class="tile is-ancestor has-text-centered">

          <div class="tile is-3 is-parent hvr-grow">
            <article class="tile is-child box is-full-height light-grey-col has-text-white">
              <p class="title has-text-white">Chat</p>
              <div class="content">
                <p>Chat intégré, on est directement conneter au chat grace a notre identification sur le site</p>

              </div>
            </article>
          </div>
          <div class="tile is-3 is-parent hvr-grow">
            <article class="tile is-child box is-full-height egg-shell-col has-text-black">
              <p class="title has-text-black">Blog</p>
              <div class="content">
                <p>Blog permettant aux membres de s'exprimer sur un certain sujet. les articles seront d'abord envoyé aux admin/modo por verification puis poster (ceci est une proposition)</p>
              </div>
            </article>
          </div>
          <div class="tile is-3 is-parent hvr-grow">
            <article class="tile is-child box is-full-height grey-col has-text-white">
              <p class="title has-text-white">Service Git</p>
              <div class="content">
                <p>Intégration d'un serveur git privé réservé aux membres du siteweb. On est connecter au service grace au login de base</p>
              </div>
            </article>
          </div>
          <div class="tile is-3 is-parent hvr-grow">
            <article class="tile is-child box is-full-height yellow-col">
              <p class="title has-text-black">Panel Admin</p>
              <div class="content">
                <p>Panel réservé aux admin du site leur permettant d'acceder a des informations supplémentaires et de gerer le site web</p>
              </div>
            </article>
          </div>
        </div>

      </div>

    </section>
  </body>
</html>
<!-- <a href="" style="display:block;width:100vh;height:100vh;"> -->
