<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/wip.css">

    <title>CodeAnon</title>
</head>

<body>
    <section class="layout col-light">
        <% include templates/header.ejs %>

        <main>
            <article>
                <header>
                    <h3>
                        Bienvenue sur la page d'acceuil de CodeAnon
                    </h3>
                </header>
                <a href="/blog" title="Direction le blog de CodeAnon">
                    <section class="card">
                        <h3>
                            /Blog
                        </h3>
                        <p class="marg-left">
                            Un blog communautaire où tout le monde peut proposer des articles et les consulter.
                        </p>

                    </section>
                </a>
                <a href="/submit" title="Accès à la page submit">
                    <section class="card">
                        <h3>
                            /Submit
                        </h3>
                        <p class="marg-left">
                            Le formulaire permettant de poster des articles sur le blog.
                        </p>

                    </section>
                </a>
                <a href="/project">
                    <section class="card">
                        <h3>
                            /Project
                        </h3>
                        <p>
                            L'endroit ou les projet prennent vies. Vous pouvez participez a un projet ou en proposer.
                        </p>
                    </section>
                </a>
                <a href="https://git.codeanon.org/">
                    <section class="card">
                        <h3>
                            AnonGit
                        </h3>
                        <p class="marg-left">
                            Une plateforme git decentralisé et auto-hébergé par CodeAnon permettant de collaborer sur
                            les différents projets.
                        </p>
                    </section>
                </a>

            </article>
        </main>


        <% include templates/footer.ejs %>
    </section>
</body>

</html>