<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="css/index.css">
    
    <title>CodeAnon</title>
</head>

<body>
</body>
    <section class="back-dark col-light">
            <nav class="nav fade-in-top">
                    <ul class="menu">
                        <li><a href="/login" class="border-bottom">Login</a></li>
                        <li><a href="/">Home</a></li>
                        <li><a href="/register">Register</a></li>
                    </ul>            
                </nav>
        <form method="post">
            <input type="text" name="loginUsername" placeholder="Username" autocomplete="off">
            <br/>
            <input type="password" name="loginPassword" placeholder="Password" autocomplete="off">
            <br/>
            <div class="error-msg">
                <%= errorMsg %>
            </div>
            <br/>
            <button type="submit" class="col-light">Login</button>
        </form>
    </section>
</html>