<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/bulma.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- crypto lib -->
    <script type="text/javascript" src="crypto-js/crypto-js.js"></script>
    <script type="text/javascript">

      var encrypted = CryptoJS.SHA256("bbb");
      console.log(encrypted.toString())
    </script>

    <!-- main script -->
    <script type="text/javascript" src="js/script.js"></script>
    <!-- font awesome -->
    <script type="text/javascript" defer src="js/all.js"></script>
    <title>CodeAnon</title>
  </head>
  <body>
    <div class="columns is-mobile">
      <div class="column is-one-quarter middle-screen got-text-cent">
            <div id="login" class="padd-15">
              <div class="field">
                <form method="POST" id="connectForm">
                  <p class="control has-icons-left has-icons-right">
                    <input class="input" type="text" placeholder="Unsername or Email" name="loginEmail">
                    <span class="icon is-small is-left">
                      <i class="fas fa-id-card"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Password" name="loginPassword">
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>
                <%= errorMsg %>
                <div class="field">
                  <p class="control">
                    <button class="button is-success" >
                      Login
                    </button>                    
                  </p><!---->

                </form>
                <a href="/register">
                  <button class="button button-noBorder yellow-col">Go to register page</button>
                </a>
              </div>
            </div>
            </div>
      </div>
    </div>
  </body>
</html>
