<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- crypto lib -->
    <script type="text/javascript" src="crypto-js/crypto-js.js"></script>
    <script type="text/javascript">
      var encrypted = CryptoJS.SHA256("bbb");
      console.log(encrypted.toString())
    </script>


    <!-- main script -->
    <script src="js/script.js"></script>
    <!-- font awesome -->
    <script defer src="js/all.js"></script>

    <title>CodeAnon</title>
  </head>
  <body>
    <div class="columns is-mobile is-centered">
      <div class="column is-one-quarter middle-screen yellow-col">
        <% if (errors) { %>
        <% for (let err of errors) { %>
          <!-- red message error -->
          <p><%= err.msg %></p>
        <% }} %>
        <form method="POST">
          <input type="text" name="email">
          <input type="text" name="password">
          <input type="submit">
        </form>
      </div>
    </div>
  </body>
</html>
