<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/wip.css">

    <title>CodeAnon</title>
</head>

<body>
    <section class="layout col-light fade-in-top">
        <!--    Main    -->
        <main>
            <nav id="top" class="fade-in-top col-light">
                <a href="/login" class="border-bottom">Login</a>
                <a href="/">Home</a>
                <a href="/register">Register</a>
            </nav>

            <form method="post" class="text-center">
                <input type="text" name="loginUsername" placeholder="Username" autocomplete="off">
                <br />
                <input type="password" name="loginPassword" placeholder="Password" autocomplete="off">
                <br />
                <div class="error-msg">
                    <%= errorMsg %>
                </div>
                <br />
                <button type="submit">Login</button>
            </form>
        </main>
        <!--    Footer  -->
        <% include templates/footer.ejs %>
    </section>
</body>

</html>