<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- main script -->
    <script type="text/javascript" src="js/script.js"></script>

    <title>CodeAnon</title>
  </head>
  <body>
      <div class="profile-footer back-dark">
          <h1>Mentions légales</h1>
          <a href="/logout"><button class="disconnect"><b>X</b></button></a>
      </div>
  </body>
</html>
