<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- main script -->
    <script type="text/javascript" src="js/script.js"></script>

    <title>CodeAnon</title>
  </head>
  <body>
    <div class="columns is-gapless has-text-centered is-marginless is-paddingless">
      <div class="column has-background-black has-text-white">logo</div>
    </div>
    <div class="columns is-gapless has-text-centered title">
      <div class="column has-background-grey is-full-height">
        Hello <%= msg %>
      </div>
      <div class="column yellow-col has-text-black">PROFILE
      </div>

      <div class="column has-background-black has-text-white is-full-height">PROFILE</div>
    </div>
  </body>
</html>
