<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./bulma.css">

    <title>CodeAnon</title>
  </head>
  <body>
    <div class="columns is-gapless has-text-centered has-text-white title">
      <div class="column yellow">TRY</div>
      <div class="column has-background-black if-full-height">GO THERE</div>
      <div class="column yellow">TRY</div>
    </div>
  </body>
</html>
