<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="./css/wip.css">

    <title>CodeAnon</title>
</head>

<body>
    <section class="layout col-light">
        <!--    Header  -->
        <% include templates/header.ejs %>
        <!--    Main    -->
        <main>
            <article>
                <header>
                    <p>
                        "Be yourself, everyone else is already taken."
                    </p>
                    <cite>
                        Oscar Wilde
                    </cite>
                </header>
                <main>
                    <section class="card2">
                        <h3>Username:<span class="col-ocre"><%= username %></span></h3>
                        <h3>Email:<span class="col-ocre"><%= email %></span></h3>
                    </section>
                    <section class="card2">
                        <form method="POST">
                            <label>
                                Nouveau nom d'utilisateur:
                                <input type="text" name="changeUsername">
                            </label>
                            <br>
                            <label>
                                Nouveau nom IRL (in real life):
                                <input type="text" name="changeRealName">
                            </label>
                            <br>
                            <label>
                                Nouvelle adresse email:
                                <input type="email" name="changeEmail">
                            </label>
                            <br>
                            <label>
                                Nouveau mot de passe:
                                <input type="password" name="changePassword">
                            </label>
                            <br>

                            <label>
                                Mot de passe actuel:
                                <input type="password" name="ConfirmChangePassword">
                            </label>
                            <div class="err-msg">
                                <%= error %>
                            </div>
                            <button class="confirmChanges back-ocre col-light">Confirmation</button>
                        </form>
                    </section>
                </main>
            </article>
        </main>
        <!--    Footer  -->
        <% include templates/footer.ejs %>
    </section>
</body>

</html>