<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/wip.css">


    <!-- Syntax highlighting css 
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">-->
    <!-- Syntax highlighting js 
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>-->

    <title>CodeAnon</title>
</head>

<body>
    <section class="layout col-light">
        <!--    Header  -->
        <% include templates/header.ejs %>
        <!--    Main    -->
        <main>
            <header>
                <p>
                    Ecrivez votre articles ci-dessous puis envoyer le en acceptant les conditions générales
                    d'utilisations.
                </p>
            </header>
            <!--    Article Submit Form -->
            <form method="post">
                <h2>Titre: <input type="text" autocomplete="off" name="article_title"></h2>
                <h2>Tags: <input type="terminal" autocomplete="off" name="article_tags"></h2>
                <h2>Description du Projet:</h2>
                <textarea type="description" autocomplete="off" name="article_description"></textarea>
                <h2>Contenu de l'article:</h2>
                <textarea type="contenu" autocomplete="off" name="article_content"></textarea>
                <div class="text-center">
                    <p>
                        CGU
                    </p>
                    <button>Poster le Projet</button>
                </div>

            </form>
        </main>
        <!--    Footer  -->
        <% include templates/footer.ejs %>
    </section>
</body>

</html>