<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- crypto lib -->
    <script type="text/javascript" src="crypto-js/crypto-js.js"></script>
    <script type="text/javascript">

        var encrypted = CryptoJS.SHA256("bbb");
        console.log(encrypted.toString())
    </script>

    <!-- main script -->
    <script type="text/javascript" src="js/script.js"></script>

    <title>CodeAnon</title>
</head>

<body>

    <form method="POST" class="back-light">
        <div class="register-grid-container">
            <div class="register-username">
                <h1>[____@CodeAnon ~]$ username:</h1>
                <input type="terminal" autofocus autocomplete="off" name="registerUsername">
            </div>
            <div class="register-email">
                <h1>[____@CodeAnon ~]$ email:</h1>
                <input type="terminal" autofocus autocomplete="off" name="registerEmail">
            </div>
            <div class="register-confirm-email">
                <h1>[____@CodeAnon ~]$ confirm email:</h1>
                <input type="terminal" autofocus autocomplete="off" name="registerConfirmEmail">
            </div>
            <div class="register-password">
                <h1>[____@CodeAnon ~]$ password:</h1>
                <input type="password" autofocus autocomplete="off" name="registerPassword">

            </div>
            <div class="register-confirm-password">
                <h1>[____@CodeAnon ~]$ confirm password:</h1>
                <input type="password" autofocus autocomplete="off" name="registerConfirmPassword">

            </div>
            <div class="register-error-msg error-msg">
                <b><%= registerFailMsg %></b>
            </div>
            <div class="register-register-btn">
                <button><b>Register</b></button>
            </div>
            <div class="register-to-root">
                <button><a href="../">/</a></button>
            </div>
            <div class="register-to-login">
                <button><a href="../login">/login</a></button>
            </div>
            <div class="register-footer">
                <a href="/about"><h1>About us</h1></a>
            </div>
        </div>
    </form>
</body>

</html>