<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/wip.css">

    <title>CodeAnon</title>
</head>

<body>
    <section class="layout col-light fade-in-top">
        <!--    Main    -->
        <main>
            <nav id="top" class="fade-in-top col-light">
                <a href="/login">Login</a>
                <a href="/">Home</a>
                <a href="/register" class="border-bottom">Register</a>
            </nav>

            <form method="post" class="text-center">
                <input type="text" name="registerUsername" placeholder="Username" autocomplete="off">
                <br />
                <input type="text" name="registerRealName" placeholder="Real Name" autocomplete="off">
                <br />
                <input type="text" name="registerEmail" placeholder="E-mail" autocomplete="off">
                <br />
                <input type="password" name="registerPassword" placeholder="Password" autocomplete="off">
                <br />
                <input type="password" name="registerConfirmPassword" placeholder="Confirm Password" autocomplete="off">
                <br />
                <!--   Key will be added
                    <input type="text" name="" placeholder="Key">
                    <br />
                    -->
                <div class="error-msg">
                    <%= registerFailMsg %>
                </div>
                <button type="submit" class="col-light">Register</button>
            </form>
        </main>

        <!--    Footer  -->
        <% include templates/footer.ejs %>
    </section>
</body>

</html>

