<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/wip.css">

    <title>CodeAnon</title>
</head>

<body>
    <section class="hero layout col-light" id="top">

        <nav id="top" class="fade-in-top col-light">
            <a href="/login">Login</a>
            <a href="/" class="border-bottom">Home</a>
            <a href="/register">Register</a>
        </nav>
        <main class="text-center">
            <h1 class="glitch flicker-in margin-top" data-text="CodeAnon">CodeAnon</h1>
            <p class="fade-in-top">
                <a href="#down">
                    <i class="arrow-down"></i>
                </a>
            </p>
        </main>
    </section>
    <section class="hero col-black back-light" id="down">
        <section class="layout">
            <h2>Présentation de l'association</h2>
            <p>
                CodeAnon est une jeune association d'apprentissage, d'expérimentation et de réalisation de projets entre
                passionnés d'informatique.
                Son but est d'offrir un environnement productif pour aiguiser ses compétences grâce au partage de
                connaissances.
            </p>
            <h2>Présentation du site web</h2>
            <p>
                Ce site web met à disposition un blog communautaire dont les auteurs sont des adhérents de l'association.
            </p>
            <p>
                Les sujets traités sont nombreux et principalement axés autour du monde de l'informatique.
                Vous y trouverez des retours d'expérience sur différents projets portés par les membres de l'association
                ou de projets plus personnels tout cela dans une optique de partage et d'apprentissage.
            </p>
            <% include templates/footer.ejs %>
        </section>
    </section>
</body>

</html>