<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--<link rel="stylesheet" type="text/css" href="css/spectre.min.css"> -->
    
    <script type="text/javascript" src="js/script.js"></script>

    <title>CodeAnon</title>
</head>

<body>
    <h1 class="left">[____@CodeAnon ~]$</h1>

    <form method="POST">
        <input class="left"type="terminal" autofocus autocomplete="off" name="receivedUserInput" >
    </form>
    
</body>
</html>