<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/main.css">

    <script type="text/javascript" src="js/script.js"></script>

    <title>CodeAnon</title>
</head>

<body>
        <!-- login or register-->
    <div class="root-grid-container back-light">
        <div class="root-head">
            <h1>[____@CodeAnon ~]$</h1>

            <form method="POST">
                <input type="terminal" autofocus autocomplete="off" name="receivedUserInput">
            </form>
        </div>
        <div class="root-footer">
            <h1>mention légales</h1>
        </div>
    </div>
</body>

</html>