<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/wip.css">

    <title>CodeAnon</title>
</head>

<body>
    <section class="hero layout col-light" id="top">

        <nav id="top" class="fade-in-top col-light">
            <a href="/login">Login</a>
            <a href="/" class="border-bottom">Home</a>
            <a href="/register">Register</a>
        </nav>
        <main class="text-center">
            <h1 class="glitch flicker-in margin-top" data-text="CodeAnon">CodeAnon</h1>
            <p class="fade-in-top">
                <a href="#down">
                    <i class="arrow-down"></i>
                </a>
            </p>
        </main>
    </section>
    <section class="hero col-black back-light" id="down">
        <section class="layout">
            <h2>Présentation</h2>
            <p>
                    CodeAnon est une association à but non lucratif selon la loi de 1901. 
                    Elle regroupe des étudiants de Toulouse autour de différents projets liés à l'informatique,
                    le développement et la cyber-sécurité. 
            </p>
            <div class="let-go-down">
                    <% include templates/footer.ejs %>
            </div>
        </section>
    </section>

</body>

</html>