<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- Syntax highlighting css -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">
    <!-- Syntax highlighting js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>

    <!-- main script -->
    <script type="text/javascript" src="js/script.js"></script>

    <title>CodeAnon</title>
</head>

<body>
    <div class="blog-grid-container back-dark">
        <div class="blog-head back-dark col-ocre">
            <h1>[<%= username %>@CodeAnon ~]$</h1>
        </div>
        <div class="blog-right back-grey"></div>
        <div class="blog-main back-grey">
            <!-- ARTICLE SUBMIT FORM -->
            <form method="POST" class="back-light">
                <div class="blog-title">
                    <h2>[____@CodeAnon ~]$ title:</h1>
                        <input type="terminal" autofocus autocomplete="off" name="article_title">
                </div>
                <div class="blog-tags">
                    <h2>[____@CodeAnon ~]$ tags:</h1>
                        <input type="terminal" autofocus autocomplete="off" name="article_tags">
                </div>
                <div class="blog-content">
                    <h2>[____@CodeAnon ~]$ content:</h1>
                        <textarea type="text" autofocus autocomplete="off" name="article_content"></textarea>
                </div>
                <div class="">
                    <button><b>Submit</b></button>
                </div>
            </form>
            <!-- END OF THE FORM -->
        </div>
        <div class="blog-left back-grey">
        </div>
        <div class="blog-footer back-dark col-light">
            <h1>Mentions légales</h1>
        </div>
    </div>
</body>

</html>