<!
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>

    <link rel="stylesheet" href="/public/css/wip.css" type="text/css">
</head>

<body>
    <header>
        <h1>
            page
        </h1>
    </header>
    <nav>
        <a href="index.html">to index</a>
    </nav>
    <main>
        <section>
            <article>
                <header>
                    <h2>[<%= username %>@CodeAnon ~]$</h2>
                </header>
                <section></section>
                <footer></footer>
            </article>
        </section>
    </main>
    <aside></aside>
    <footer></footer>
</body>

</html>