<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/test.css">

    <title>CodeAnon</title>
</head>

<body>
    <header class="back-dark col-light">
        <a href="/home" class="header-logo"><img src="/public/pic/logo.??" alt="Home Page"></a>
        <div class="header-dropdown">
            <button class="drop-btn">
                [<%= username %>@CodeAnon ~]$
            </button>
            <div class="drop-content">
                <a href="/profile">Profile</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </header>


</body>

</html>