
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
    font-size: 16px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*** index ***/

.border-bottom{
    border-bottom: 1px solid white;
}
.nav ul li{
    list-style: none;
    font-size: 1.4rem;
}
.nav a {
    padding: 1rem;
    display: block;
    text-align: center;
}
.nav .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
a {
    color: inherit;
    text-decoration: none;
}

section {
    height: 100vh;
    width: 100vw;
    position: relative;
}
.fs-text{
    font-size: 4rem;
}
section form, section .fs-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow-down{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg) !important;
    -webkit-transform: rotate(45deg) !important;
}

.bmtfck-layout {
    font: 1.2rem/1.62 sans-serif;
    margin: auto;
    padding: 2rem .62rem;
    max-width: 40rem;
}
.bmtfck-layout h1, .bmtfck-layout h2, .bmtfck-layout h3 {
    line-height: 4rem;
}
/*** login ***/
input {
    background: inherit;
    border: none;
    border-bottom: 2px solid #eeeeee;
    color: inherit;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 10px;
}
input:focus{
    border-bottom: 2px solid #b55400;
    color: white;
}
button{
    margin: 1rem auto 0 auto;
    font-size: 1.4rem;
    background: inherit;
    border: none;
    padding: 0.5rem;
}
button:hover {
    background: #b55400;
    border-radius: 1rem;
}
form{
    text-align: center;
}

.error-msg {
  background-color: #ffd800;
  border-radius: 0.5rem;
  color: #020202;
  font-size: 1.4rem;
  text-align: center;
  margin: 1rem 1rem 1rem 1rem;
}

/*** Color and Backgroud***/
.back-black {
    background: black;
}
.col-white {
    color: white;
}
.back-white {
    background: white;
}
.col-black {
    color: black;
}
.back-dark{
    background: #222831 !important;
}
.back-grey {
    background: #393e46 !important;
}
.back-ocre {
    background: #b55400 !important;
}
.back-light {
    background: #eeeeee !important;
}
.col-dark{
    color:  #222831 !important;
}
.col-grey{
    color: #393e46 !important;
}
.col-ocre{
    color: #b55400 !important;
}
.col-light{
    color: #eeeeee !important;
}
/*** Text Animation***/

.flicker-in {
	animation: flicker-in 2.5s linear both;
}

@keyframes flicker-in{0%{opacity:0}10%{opacity:0}10.1%{opacity:1}10.2%{opacity:0}20%{opacity:0}20.1%{opacity:1}20.6%{opacity:0}30%{opacity:0}30.1%{opacity:1}30.5%{opacity:1}30.6%{opacity:0}45%{opacity:0}45.1%{opacity:1}50%{opacity:1}55%{opacity:1}55.1%{opacity:0}57%{opacity:0}57.1%{opacity:1}60%{opacity:1}60.1%{opacity:0}65%{opacity:0}65.1%{opacity:1}75%{opacity:1}75.1%{opacity:0}77%{opacity:0}77.1%{opacity:1}85%{opacity:1}85.1%{opacity:0}86%{opacity:0}86.1%{opacity:1}100%{opacity:1}}

.fade-in-top {
	-webkit-animation: fade-in-top 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-top 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-top{0%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes fade-in-top{0%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}


@keyframes noise-anim {
    0% {
      clip: rect(66px, 9999px, 8px, 0);
    }
    5% {
      clip: rect(15px, 9999px, 57px, 0);
    }
    10% {
      clip: rect(5px, 9999px, 76px, 0);
    }
    15% {
      clip: rect(85px, 9999px, 29px, 0);
    }
    20% {
      clip: rect(76px, 9999px, 100px, 0);
    }
    25% {
      clip: rect(32px, 9999px, 89px, 0);
    }
    30% {
      clip: rect(79px, 9999px, 63px, 0);
    }
    35% {
      clip: rect(41px, 9999px, 48px, 0);
    }
    40% {
      clip: rect(14px, 9999px, 21px, 0);
    }
    45% {
      clip: rect(54px, 9999px, 6px, 0);
    }
    50% {
      clip: rect(67px, 9999px, 35px, 0);
    }
    55% {
      clip: rect(29px, 9999px, 50px, 0);
    }
    60% {
      clip: rect(92px, 9999px, 58px, 0);
    }
    65% {
      clip: rect(43px, 9999px, 42px, 0);
    }
    70% {
      clip: rect(12px, 9999px, 30px, 0);
    }
    75% {
      clip: rect(10px, 9999px, 25px, 0);
    }
    80% {
      clip: rect(35px, 9999px, 79px, 0);
    }
    85% {
      clip: rect(29px, 9999px, 30px, 0);
    }
    90% {
      clip: rect(26px, 9999px, 91px, 0);
    }
    95% {
      clip: rect(23px, 9999px, 79px, 0);
    }
    100% {
      clip: rect(19px, 9999px, 82px, 0);
    }
}
.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 rgb(255, 0, 221);
    top: 0;
    color: white;
    background: #222831;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse
}
 
@keyframes noise-anim-2 {
    0% {
      clip: rect(39px, 9999px, 100px, 0);
    }
    5% {
      clip: rect(99px, 9999px, 60px, 0);
    }
    10% {
      clip: rect(10px, 9999px, 24px, 0);
    }
    15% {
      clip: rect(22px, 9999px, 41px, 0);
    }
    20% {
      clip: rect(15px, 9999px, 53px, 0);
    }
    25% {
      clip: rect(85px, 9999px, 73px, 0);
    }
    30% {
      clip: rect(71px, 9999px, 80px, 0);
    }
    35% {
      clip: rect(33px, 9999px, 92px, 0);
    }
    40% {
      clip: rect(19px, 9999px, 63px, 0);
    }
    45% {
      clip: rect(8px, 9999px, 100px, 0);
    }
    50% {
      clip: rect(70px, 9999px, 69px, 0);
    }
    55% {
      clip: rect(52px, 9999px, 3px, 0);
    }
    60% {
      clip: rect(84px, 9999px, 67px, 0);
    }
    65% {
      clip: rect(17px, 9999px, 97px, 0);
    }
    70% {
      clip: rect(40px, 9999px, 49px, 0);
    }
    75% {
      clip: rect(8px, 9999px, 51px, 0);
    }
    80% {
      clip: rect(30px, 9999px, 74px, 0);
    }
    85% {
      clip: rect(95px, 9999px, 33px, 0);
    }
    90% {
      clip: rect(28px, 9999px, 73px, 0);
    }
    95% {
      clip: rect(70px, 9999px, 86px, 0);
    }
    100% {
      clip: rect(63px, 9999px, 6px, 0);
    }
}
.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 rgb(0, 255, 242);
    top: 0;
    color: white;
    background: #222831;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}
