body, html {
    font-family: 'Courier New', Courier, monospace;
    background: #020202;
    color: #FDFDFC;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

h1{
    margin: 20px;
    font-size: 40px;
}

input[type=terminal] {
    color: #FDFDFC;
    background-color: #020202;
    border: none;
    font-size: 30px;
    width: 110px;
}
form {
    margin-top: 14px;
}
.fadeIn {
    animation: fadeIn 5s;
    float: left;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}