:root {
  overflow: hidden;
}
.middle-screen {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .yellow-col {
    background-color: #ffd800; /* #EBBB12 */
  }
  .grey-col {
    background-color: #2f2f2f;
  }
  .black-col {
    background-color: #020202;
  }
  .white-col {
    background-color: #FDFDFC;
  }
  .egg-shell-col {
    background-color: #e0dfd5;
  }
  .light-grey-col {
    background-color: #414142;
  }
  .is-full-height {
    height: 100vh;
  }

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
.got-text-cent {
  text-align: center;
}
.padd-15 {
  padding: 15px;
}

.align-right {
  justify-content: right;
}

.button-noBorder {
  border-width: 0;
}