@font-face {
    font-family: 'zilla_slab';
    src: url('zillaslab-regular-webfont.woff2') format('woff2'),
		 url('zillaslab-regular-webfont.woff') format('woff'),
		 url('ZillaSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'zilla_slab';
    src: url('zillaslab-regularitalic-webfont.woff2') format('woff2'),
         url('zillaslab-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'zilla_slab';
    src: url('zillaslab-bold-webfont.woff2') format('woff2'),
		 url('zillaslab-bold-webfont.woff') format('woff'),
		 url('ZillaSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'zilla_slab';
    src: url('zillaslab-bolditalic-webfont.woff2') format('woff2'),
         url('zillaslab-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'zilla_slab', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: normal;
    font-weight: normal;
    color: white;
}

html, body{
    font-size: 16px;
}
a {
    text-decoration: none;
}
.back-black {
    background: black;
}
.col-white {
    color: white;
}
.back-white {
    background: white;
}
.col-black {
    color: black;
}
.back-dark{
    background: #222831 !important;
}
.back-grey {
    background: #393e46 !important;
}
.back-ocre {
    background: #b55400 !important;
}
.back-light {
    background: #eeeeee !important;
}
.col-dark{
    color:  #222831 !important;
}
.col-grey{
    color: #393e46 !important;
}
.col-ocre{
    color: #b55400 !important;
}
.col-light{
    color: #eeeeee !important;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 20px;
}

.header-logo {
    text-align: center;
}
.header-center {
    text-align: center;
}
.header-dropdown{
    position: relative;
    display: inline-block;
}
.drop-content {
    display: none;
    position: absolute;
    font-size: 1.2rem;
    min-width: 160px;
    z-index: 1;
}

.drop-content a {
    background: #222831;
    padding: 0.5rem;
    display: block;
}
.drop-btn {
    background: none;
    border: none;
    font-size: 1.2rem;
    color: #eeeeee
}
.header-dropdown:hover .drop-content{
    display:block;
}
.drop-content a:hover{
    background: #b55400;
}