<nav id="top">
    <a href="/home">
        <img src="../logo.svg" alt="/home" height="87px" width="100px" />
    </a>
    <a href="/profile" class="underline">/profile</a>
</nav>
<header>
    <h1>[<span><%= username %></span>@CodeAnon/<span><%= page %></span> ~]$</h1>
</header>