<nav id="top">
    <a href="/home">/home (logo)</a>
    <a href="/profile" class="lol">/profile</a>
</nav>
<header>
    <h1>[<span><%= username %></span>@CodeAnon/<span><%= page %></span> ~]$</h1>
</header>